@import "tailwindcss";

@theme {
  --color-brand-primary: #ff4d4d;
  --color-brand-secondary: #00e6e6;
  --color-brand-dark: #0a0a0a;
  --color-brand-surface: #1a1a1a;
  
  --font-display: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
}

:root {
  font-family: var(--font-body);
  background-color: var(--color-brand-dark);
  color: white;
  overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}
